<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于系统</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
        .mui-content {

            background: url("/static/img/full_back.png") bottom center no-repeat #efeff4;

            background-size: 100% 100%;

            width: 800px;

            height: 800px;

        }
    </style>
</head>
<body class="mui-content">
<div class="pull-right">
    <a href="/home/">返回首页</a>
</div>
<br>
<br>
<div class="container text-center" >
    <div class="row">
        <div class="col-md-6 col-lg-offset-4">
            <div class="panel panel-default ">
                <div class="panel-heading text-center" style="color: rebeccapurple">会议室预订系统</div>
                <div class="panel-body">
                    众多的会议室，怎样避免会议冲突？怎样实现非人工管理？怎样方便快捷的预定会议？怎样及时通知与会人员等等？总之，怎样才能提升会议室资源的利用效率？
                    1.快速查询：系统采用B/S架构，随时随地通过网络登录到服务端查询会议室的预定情况，会议资源情况； 2.轻松预定：根据自己所需会议资源和会议室使用情况统计，轻松预定适合自己的会议室。
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>