<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="page-header text-center">
            <h1>会议室预订系统 <small>修改密码</small></h1>
        </div>
        <div class="col-md-4 col-lg-offset-4">
            <form class="form-horizontal" novalidate method="post">
                {% csrf_token %}
                <!--用户名-->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">用户名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control text-center" disabled=disabled id="inputEmail3"  value={{ username }}>
                    </div>
                </div>
                <!--旧密码-->
                <div class="form-group">
                    <label for="{{ form_obj.password.id_for_label }}" class="col-sm-4 control-label">原密码</label>
                    <div class="col-sm-8">
                        {{ form_obj.password }}
                        <span class="help-block" style="color: red">{{ form_obj.password.errors.0 }}</span>
                    </div>
                </div>
                <!--新密码-->
                <div class="form-group">
                    <label for="{{ form_obj.new_password.id_for_label }}" class="col-sm-4 control-label">新密码</label>
                    <div class="col-sm-8">
                        {{ form_obj.new_password }}
                        <span class="help-block" style="color: red">{{ form_obj.new_password.errors.0 }}</span>

                    </div>
                </div>
                <!--确认密码-->
                <div class="form-group">
                    <label for="{{ form_obj.confirm_password.id_for_label }}" class="col-sm-4 control-label">确认新密码</label>
                    <div class="col-sm-8">
                        {{ form_obj.confirm_password }}
                        <span class="help-block" style="color: red">{{ form_obj.confirm_password.errors.0 }}</span>

                    </div>
                </div>
                <!--修改密码-->
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <span id="msg" msg="{{ msg }}"></span>
                        <button type="submit" class="btn btn-info">确定修改</button>
                        <a href="/home/" class="btn btn-warning pull-right">返回首页</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
     // 将所有的input框绑定获取焦点的事件，将所有的错误信息清空
    $("form input").focus(function () {
        console.log($(this).next().text());
        $(this).next().text("");
    });
    // 修改密码成功就跳转登录页面
    var msg = $("#msg").attr("msg");
    if(msg){
        location.href=msg;
    }
</script>
</body>
</html>